/* https://www.figma.com/colors/jet-black/ */
body {
    background-color: #252525;
	font-family: "Lucida Console", "Courier New", monospace;
	font-size: min(3vw, 14px);
}

span.name { /* enable search */
	font-size: 0px;
}

div.dir-container {
	width: 100%;
	word-wrap: break-word;
	overflow-wrap: break-word;
	word-break: break-all;
	white-space: normal;
}

.hidden {
	display: none;
}

/* Menu */
.menu {
	font-size: 14px;
	background-color: #252525;
	color: #ccc;
	padding: 10px;
	cursor: pointer;
	width: 50px;
	text-align: center;
	position: fixed;
	top: 0;
	right: 0;
	z-index: 1000;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	user-select: none;
}
.menu-list {
	display: none;
	background-color: #252525;
	padding: 10px;
	list-style-type: none;
	margin-top: 0px;
	z-index: 999;
	position: fixed;
	top: 0px;
	left: 0;
	width: 100%;
	max-height: 400px;
	overflow-y: auto;
}
.menu-list li {
	padding: 5px;
	cursor: pointer;
	color: #ccc;
}
.menu-list li:hover {
	background-color: #555;
}
.menu-overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	z-index: 998;
}

/* Grid Layout */
ul.stretch {
	list-style: none;
	padding: 0px;
}
ul.stretch li {
	color: #ccc;
    background-color: #252525;
    padding: 1px;
    display: flex;
    justify-content: left;
    align-items: flex-start;
}

ul.flex {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 6px;
    padding: 0;
    list-style: none;
}
ul.flex li {
    background-color: #252525;
    padding: 1px;
    border: 1px solid #7d7d7d;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 500px; /* default height */
    cursor: pointer;
}

ul.flex li img {
    width: 100%;
    height: auto;
    object-fit: cover;
    opacity: 0.5;
    transition: opacity 0.3s ease;
}

/* Lightbox */
#lightbox {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.8);
	align-items: center;
	justify-content: center;
	z-index: 1000;
}
#lightbox img {
	max-width: 100%;
	max-height: 100%;
	margin: auto;
}
#lightboxClose {
	position: absolute;
	top: 20px;
	right: 20px;
	color: #fff;
	font-size: 30px;
	cursor: pointer;
}
#lightboxImage {
	cursor: pointer;
}
#lightboxLoading {
	color: gray;
	font-size: 50px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
