/* https://www.figma.com/colors/jet-black/ */
:root {
	--color: #ccc;
	--bg-color: #252525;
	--highlight-color: #555;
	--border-color: #262c2a;
}
.light {
	--color: #252525;
	--bg-color: #ece7e0;
	--highlight-color: #f2f4f5;
	--border-color: #dfdcd6;
}
@media (prefers-color-scheme: light) {
	--color: #252525;
	--bg-color: #ece7e0;
	--highlight-color: #f2f4f5;
	--border-color: #dfdcd6;
}

body, .light {
    background-color: var(--bg-color);
    color: var(--color);
	font-family: "Lucida Console", "Courier New", monospace;
	font-size: min(3vw, 14px);
}

span.name { /* enable search */
	font-size: 0px;
}

div.dir-container {
	width: 100%;
	word-wrap: break-word;
	overflow-wrap: break-word;
	word-break: break-all;
	white-space: normal;
}

.hidden {
	display: none;
}

/* Menu */
.menu {
	font-size: 14px;
	background-color: var(--bg-color);
	color: var(--color);
	padding: 10px;
	cursor: pointer;
	width: 50px;
	text-align: center;
	position: fixed;
	top: 0;
	right: 0;
	z-index: 1000;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	user-select: none;
}
.menu-list {
	display: none;
	background-color: var(--bg-color);
	padding: 10px;
	list-style-type: none;
	margin-top: 0px;
	z-index: 999;
	position: fixed;
	top: 0px;
	left: 0;
	width: 100%;
	max-height: 400px;
	overflow-y: auto;
}
.menu-list li {
	padding: 5px;
	cursor: pointer;
	color: var(--color);
}
.menu-list li:hover {
	background-color: var(--highlight-color);
}
.menu-overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	z-index: 998;
}

/* Grid Layout */
ul.stretch {
	list-style: none;
	padding: 0px;
}
ul.stretch li {
	color: var(--color);
    background-color: var(--bg-color);
    padding: 1px;
    display: flex;
    justify-content: left;
    align-items: flex-start;
}

ul.flex {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--tile-w, 250px), 1fr));
    grid-gap: 6px;
    padding: 0;
    list-style: none;
}
ul.flex li {
    background-color: var(--bg-color);
    padding: 1px;
    border: 1px solid var(--border-color);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 500px; /* default height */
    cursor: pointer;
}

ul.flex li img {
    width: 100%;
    height: auto;
    object-fit: cover;
    opacity: 0.5;
    transition: opacity 0.3s ease;
}

/* Lightbox */
#lightbox {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.8);
	align-items: center;
	justify-content: center;
	z-index: 1000;
}
#lightbox img {
	cursor: pointer;
	max-width: 100%;
	max-height: 100%;
	margin: auto;
	opacity: 0;
	transition: opacity 0.125s ease, transform 0.15s ease;
}
#lightboxClose {
	position: absolute;
	top: 20px;
	right: 20px;
	color: #fff;
	font-size: 30px;
	cursor: pointer;
	z-index: 1001;
}

/* misc. */
#btn-top, #btn-mode {
	opacity: 0.5;
	position: fixed;
	bottom: 20px;
	right: 20px;
	width: 30px;
	height: 30px;
	z-index: 997;
	background: url('btn-top.png') no-repeat 0 0;
	border-radius: 5px;
}
#btn-mode {
	right: 60px;
	background: url('btn-mode.png') no-repeat 0 0;
	cursor: pointer;
}
.btn-top, .btn-mode {
	background-color: transparent;
	display: inline-block;
	width: 100%;
	height: 100%;
}
#btn-top:hover, #btn-mode:hover {
	opacity: 1;
}